.App {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: large;
}
.room-cotainer-wrapper {
	display: flex;
	flex-basis: auto;
	width: 60vw;
}
.room-container {
	display: grid;
	gap: 20px;
}
.sidebar {
	width: 300px;
}
.room {
	/* height: 140px;
    width: 140px; */

	border: 1px solid black;
	background-color: cornflowerblue;
	border-radius: 10px;
}
